# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### VisualStudioCode ###
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll

### Audacity ###
*.au
*.aup

### GIMP ###
*.xcf

### cmpres and brstm ###
*.brstm
*.cmpres
*.arc
ui_menu_*.png
*.scene

### Binary Files ###
*.zip
*.7z

### Map Background and Music Download Metainformation ###
*.cfg

# Map Icons which are defined in backgrounds.yml
facingWorlds.png
forestFairies.png
forsakenFortress.png
galaxyColosseum.png
n64Skyscraper.png
traverseTown.png
battlecanyon.png
quietstreet.png
bg009alt.png
dksjungle.png
bg008alt.png
bg001_clean.png