# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### VisualStudioCode ###
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll

### Audacity ###
*.au
*.aup

### GIMP ###
*.xcf

### cmpres and brstm ###
*.brstm
*.cmpres
!_modpacks/resources/*/*/*.cmpres
# exclude arc files but allow them for modpacks
*.arc
!_modpacks/resources/*/*/*.arc
*.scene

### Binary Files ###
*.zip
!_modpacks/packs/cswt/development/other_files/*.zip
*.7z
__pycache__

### Map Background and Music Download Metainformation ###
*.cfg

# solid-start

dist
.solid
.output
.vercel
.netlify
.vinxi

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

# bun

bun.lockb

# build output
dist/

# generated types
.astro/