# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### VisualStudioCode ###
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,jekyll

### Audacity ###
*.au
*.aup

### GIMP ###
*.xcf

### cmpres and brstm ###
*.brstm
*.cmpres
!_data/modpack_common_files/cswt/*/*.cmpres
# exclude arc files but allow cswtpycsmm's arc directories
*.arc
!_data/modpack_common_files/cswt/cswtpycsmm/*.arc
*.scene

### Binary Files ###
*.zip
*.7z
__pycache__

### Map Background and Music Download Metainformation ###
*.cfg
