---
import type { MapDescriptorExtended } from '~/lib/getboards';
interface Props {
  board: MapDescriptorExtended;
}
const { board } = Astro.props;
---
<div class="row lang">
  <h4 class:list={['card-title en', {'de': !board.name.de, 'fr': !board.name.fr, 'it': !board.name.it, 'es': !board.name.es, 'jp': !board.name.jp}]}>
    { board.name.en }
  </h4>
  { board.name.de && <h4 class="card-title de">{ board.name.de }</h4> }
  { board.name.fr && <h4 class="card-title fr">{ board.name.fr }</h4> }
  { board.name.it && <h4 class="card-title it">{ board.name.it }</h4> }
  { board.name.es && <h4 class="card-title es">{ board.name.es }</h4> }
  { board.name.jp && <h4 class="card-title jp">{ board.name.jp }</h4> }
</div>
