.relative-container {
  position: relative;
  text-align: center;
  color: white;
}

.mapCard { min-width: 224px; }
@media (min-width: 340px) { .mapCard { min-width: 320px; } }
@media (min-width: 500px) { .mapCard { min-width: 480px; } }
@media (min-width: 992px) { .mapCard { min-width: 224px; } }

details[open] > .accordion-button::after {
  transform: rotate(0deg);
}
