{%- include getDirectory.html file_path=include.map.path -%}
{%- assign download_url = "https://github.com/FortuneStreetModding/CommunityMaps/tree/master/" | append: gd_directory_path -%}
{%- include getPngFileFromDirectory.html directory_name=gd_directory_name -%}
<div class="col-md-4 mb-5">
  <div class="card h-100">
    <div class="relative-container">
      <a href="{{ include.map.url | relative_url }}"><img class="card-img-top map-card-image-board" src="{{ gpffd_png_file.name }}"></a>
      <img class="card-img-top map-card-image-background" src="backgrounds/{{ include.map.background }}.webp">
      <div class="top-right-absolute">
        {% if include.map.changeLog -%}
        {%- assign firstChange = include.map.changeLog | first -%}
        <div class="badge bg-primary">v{{ firstChange.version }}</div>
        {%- endif -%}
        {% for author in include.map.authors %}
        <div class="badge bg-secondary">{%- if author.url -%}<a class="text-reset" href="{{ author.url }}">{{ author.name }}</a>{%- else -%}{{ author.name }}{%- endif -%}</div>
        {% endfor %}
      </div>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ include.map.name.en }}</h4>
      <p class="card-text">{{ include.map.desc.en }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" onclick="GitZip.zipRepo('{{ download_url }}');">Download</button>
    </div>
  </div>
</div>