---
import Layout from '../layouts/layout.astro';
---
<Layout title="Home">
  <section class="jumbotron">
    <div class="container">
      <h1>404 Page not found</h1>
    </div>
  </section>
</Layout>
