.hidden { border:none; visibility:hidden; }
/*
.unowned {	border: 4px solid #606060; }
div.player-0 { border: 4px solid #FF0000; }
div.player-1 { border: 4px solid #00FF00; }
div.player-2 { border: 4px solid #0000FF; }
div.player-3 { border: 4px solid #FFFF00; }

.btn.player-0 { background-color: #FF0000; color: white;}
.btn.player-1 { background-color: #00FF00; color: black;}
.btn.player-2 { background-color: #0000FF; color: white;}
.btn.player-3 { background-color: #FFFF00; color: black;}
*/
.btn.player-0 { background-color: #FF0000; color: white;}
.btn.player-1 { background-color: #00FF00; color: black;}
.btn.player-2 { background-color: #0000FF; color: white;}
.btn.player-3 { background-color: #FFFF00; color: black;}

.ownership { text-align:center; }
.ownership .o-unowned { width:90%; }
.ownership input { width:20%; }

.info-box { text-align:center; }
.info-box div .i-price			 { font-size: smaller; text-align:right; color: white; background-color: rgba(0, 0, 0, 0.5);}
.info-box div .i-price span	 { font-size:  larger; font-weight:bold; color: white; }
.info-box div .i-value			 { font-size: smaller; text-align:right; color: white; background-color: rgba(0, 0, 0, 0.5);}
.info-box div .i-value span	 { font-size:  larger; font-weight:bold; color: white; }
.info-box div .i-maxcap			 { font-size: smaller; text-align:right; color: white; background-color: rgba(0, 0, 0, 0.5);}
.info-box div .i-maxcap span { font-size:  larger; font-weight:bold; color: white; }
.info-box .card-img { background-color: rgba(0, 0, 0, 0.5); }
.info-box img { object-fit:scale-down; height:150px; max-width: 100px; padding: 1rem; object-position: bottom; }
.info-box img.unowned  { filter: grayscale(100%) }
.info-box img.player-0 { filter: hue-rotate(0deg) }
.info-box img.player-1 { filter: hue-rotate(90deg) }
.info-box img.player-2 { filter: hue-rotate(180deg) }
.info-box img.player-3 { filter: contrast(50%) brightness(125%) hue-rotate(53deg) saturate(175%) }

.stock-price span { font-size: larger;font-weight:bold; }

table tr { vertical-align: top; }
