---
layout: default
---
{%- include getDirectory.html file_path=page.path -%}
{%- assign download_url = "https://github.com/FortuneStreetModding/CommunityMaps/tree/master/" | append: gd_directory_path -%}
{%- include getPngFileFromDirectory.html directory_name=gd_directory_name -%}
<div class="container">
  <div class="row">
    <h1>{{ page.name.en }}</h1>
    <section>{{ page.desc.en }}</section>
    <img src="{{ gpffd_png_file.name }}"/>
    <button class="btn btn-primary" style="width:98.5%" onclick="GitZip.zipRepo('{{ download_url }}');">Download</button> 
    <h2>Features</h2>
    <h2>Map Properties</h2>

    <table>
      <thead>
        <tr>
          <th>Map Properties</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Initial Cash</td>
          <td>{{ page.initialCash }}</td>
        </tr>
        <tr>
          <td>Target Amount</td>
          <td>{{ page.targetAmount }}</td>
        </tr>
        <tr>
          <td>Base Salary</td>
          <td>{{ page.baseSalary }}</td>
        </tr>
        <tr>
          <td>Salary Increment</td>
          <td>{{ page.salaryIncrement }}</td>
        </tr>
        <tr>
          <td>Maximum Dice Roll</td>
          <td>{{ page.maxDiceRoll }}</td>
        </tr>
        <tr>
          <td>Looping Mode</td>
          <td>{{ page.looping.mode }}</td>
        </tr>
      </tbody>
    </table>

    <h2 id="changelog">Changelog</h2>

    {% for change in page.changeLog %}
    <h3>Version {{ change.version }}</h3>
      {% if change.added != '' %}
      <h4>Added</h4>
      <ul>
        {% for added in change.added %}
        <li>{{ added }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if change.changed != '' %}
      <h4>Changed</h4>
      <ul>
        {% for changed in change.changed %}
        <li>{{ changed }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if change.removed != '' %}
      <h4>Removed</h4>
      <ul>
        {% for removed in change.removed %}
        <li>{{ removed }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}

    <h2 id="authors">Authors</h2>
    <ul>
    {% for author in page.authors %}
    <li>{%- if author.url -%}<a href="{{ author.url }}">{{ author.name }}</a>{%- else -%}{{ author.name }}{%- endif -%}</li>
    {% endfor %}
    </ul>
  </div>
</div>