.grid {
  /**
   * User input values.
   */
  --grid-layout-gap: 1rem;
  --grid-column-count: 4;
  --grid-item--min-width: 1rem;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.relative-container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left-absolute {
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 3;
}
.top-left-absolute {
  position: absolute;
  top: 8px;
  left: 16px;
  z-index: 3;
}
.top-right-absolute {
  position: absolute;
  top: 8px;
  right: 16px;
  z-index: 3;
}
.bottom-right-absolute {
  position: absolute;
  bottom: 8px;
  right: 16px;
  z-index: 3;
}
.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.mapCard-image-board {
  width:100%;
  height:400px;
  object-fit:scale-down;
  position:absolute;
  filter: drop-shadow(0 0 6px #000b);
  z-index: 2;
  padding: 1rem;
}
.mapCard-image-background {
  width:100%;
  height:400px;
  object-fit:cover;
  position:relative;
  filter: blur(1px) grayscale(50%) contrast(50%) opacity(65%);
  z-index: 1;
}
.btn-lang-tiny {
  padding: 0.75rem 0.375rem;
  line-height: 0;
  float: right;
  border: 0;
}
.btn-state-tiny {
  padding: 0.75rem 0.375rem;
  line-height: 0;
  position: absolute;
  border-width: 2px;
  left: 16px;
  z-index: 3;
  filter: grayscale(1);
}
:checked+.btn-state-tiny {
  filter: grayscale(0);
}
.btn-state-tiny.state-0 { top: 1.0rem; }
.btn-state-tiny.state-1 { top: 2.7rem; }
.btn-state-tiny.state-2 { top: 4.4rem; }
.btn-state-tiny.state-3 { top: 6.1rem; }
.state-0:checked ~ .map-state :not(.state-0) {
  visibility: hidden
}
.state-1:checked ~ .map-state :not(.state-1) {
  visibility: hidden
}
.state-2:checked ~ .map-state :not(.state-2) {
  visibility: hidden
}
.state-3:checked ~ .map-state :not(.state-3) {
  visibility: hidden
}
.de:checked ~ .lang :not(.de) {
  visibility: hidden
}
.en:checked ~ .lang :not(.en) {
  visibility: hidden
}
.es:checked ~ .lang :not(.es) {
  visibility: hidden
}
.fr:checked ~ .lang :not(.fr) {
  visibility: hidden
}
.it:checked ~ .lang :not(.it) {
  visibility: hidden
}
.jp:checked ~ .lang :not(.jp) {
  visibility: hidden
}
.lang {
  display: grid;
  float: left;
}
.lang > * {
  grid-row: 1;
  grid-column: 1;
}
.mapCard { min-width: 224px; }
@media (min-width: 340px) { .mapCard { min-width: 320px; } }
@media (min-width: 500px) { .mapCard { min-width: 480px; } }
@media (min-width: 992px) { .mapCard { min-width: 224px; } }

details[open] > .accordion-button::after {
  transform: rotate(0deg);
}

.ventureCard {
  min-width:2.5rem;
  max-width:2.5rem;
  min-height:2.5rem;
  max-height:2.5rem;
  padding:0;
  text-align:center;
  vertical-align:middle;
  justify-content:center;
  align-items: center;
}

:root {
  scroll-behavior: auto !important;
}
