---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Layout from './layout.astro';
import './layout.css';
import boards from "~/lib/getboards";
const currentPagePath = Astro.url.pathname;
---
<Layout title={title}>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Community Boards</h1>
      <p class="lead text-muted">{ boards.length } user submitted boards available for download.</p>
      <p>
        <a href="/boards" class:list={["btn my-2 btn-outline-primary", { "active": currentPagePath === "/boards"}]}>Cards</a>
        <a href="/table" class:list={["btn my-2 btn-outline-primary", { "active": currentPagePath === "/table"}]}>Table</a>
      </p>
    </div>
  </section>
  <slot />
</Layout>