.grid {
  /**
   * User input values.
   */
  --grid-layout-gap: 1rem;
  --grid-column-count: 4;
  --grid-item--min-width: 1rem;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

:root {
  scroll-behavior: auto !important;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}